h1{
	text-align: -moz-right;
	font-optical-sizing: auto;
	margin-bottom: 40px;
	color: lightpink;
}

body{
	background-color: rebeccapurple;
}

div{
	margin-bottom: 30px;
	width: 360px;
	text-align: center;
}

#image{
	height: 350px;
	width: 350px;

}